
@{
    ViewBag.Title = "user";
}

@{ 

}
<h2>user</h2>

@foreach(var s in Model)
            {
    <table>

        <tr><td> @s.Id</td><td> </td><td>@s.Name</td><td> </td> <td> </td><td> @s.Description</td></tr>
    </table>
               
            }

