<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2 style="text-align:center ;color:red">
            Error Page !!!!
            <br /> OOPS!!!
        </h2>

    </hgroup>
</body>
</html>
