@model presentation6_2.Product



<tr>
    <td>
        @Html.DisplayFor(modelItem =>Model.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem =>Model.Stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem =>Model.Category.CategoryName)
    </td>
    <td>
      
    </td>
</tr>